
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<form action="" method="post">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Programming Language</th>
            <th>Project</th>
        </tr>
        <tr>
            <td>C++</td>
            <td>@ViewBag.Cpp</td>
        </tr>
        <tr>
            <td>JAVA</td>
            <td>@ViewBag.Java</td>
        </tr>
        <tr>
            <td>C#</td>
            <td>@ViewBag.Cs</td>
        </tr>
        <tr>
            <td>Web Tech</td>
            <td>@ViewBag.WebTech</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>@ViewBag.Python</td>
        </tr>
    </table>
</form>
