@model ShopManagement.Models.Entities.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Product/Create" method="post">
    Product name: <input type="text" name="Name" value="@Model.Name" class="form-control" />
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    <br />

    Qty: <input type="number" name="Qty" value="@Model.Qty" class="form-control" />
    <br />
    Price: <input type="number" step="0.01" name="Price" value="@Model.Price" class="form-control" />
    <br />
    Description: <textarea name="Desc" value="@Model.Desc" class="form-control" rows="6" cols="50">@Model.Desc</textarea>
    <br /><br />
    <input type="submit" name="submit" value="Add" class="btn btn-success"/>
</form>
