@model List<ShopManagement.Models.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/Product/Create" class="btn btn-primary">Add product</a>
<br /><br />
<h3>All products</h3>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
        <th>Operations</th>
    </tr>
    @foreach(var p in Model)
     {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Qty</td>
            <td>@p.Price</td>
            <td>@p.Desc</td>
            <td><a href ="/Product/Edit/@p.Id" class="btn btn-primary">Edit</a></td>
            <td><a href ="/Product/Delete/@p.Id" class="btn btn-danger">Delete</a></td>
        </tr>
     }
</table>
